.roundProfileImage {
  height: 40vmin;
  pointer-events: none;
  border-style: solid;
  border-width: 0.75rem;
  border-radius: 100%;
  border-color: #081f37;
}
.centerAlignment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#profile,
#tabs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#profile {
  width: 50%;
}
#profile img {
  height: 40vmin;
  pointer-events: none;
  border-style: solid;
  border-width: 0.75rem;
  border-radius: 100%;
  border-color: #081f37;
}
@media (max-width: 1500px) {
  #tabs {
    width: 75%;
  }
}
@media (min-width: 1500px) {
  #tabs {
    width: 1125px;
  }
}
