.lightThreeColNavBar,
.lightFourColNavBar,
.hoveredThreeColNavBar,
.hoveredFourColNavBar {
  position: relative;
  cursor: pointer;
  border: none;
  color: hsl(210, 100%, 24%);
}
.lightThreeColNavBar,
.lightFourColNavBar {
  background-color: hsl(210, 100%, 91%);
}
.hoveredThreeColNavBar,
.hoveredFourColNavBar {
  background-color: hsl(210, 75%, 71%);
}
.lightThreeColNavBar,
.hoveredThreeColNavBar {
  width: 33.3333%;
}
.lightFourColNavBar,
.hoveredFourColNavBar {
  width: 25%;
}
.threeColNavBar {
  width: 33.3333%;
}
.fourColNavBar {
  width: 25%;
}
.animationDuration {
  animation-duration: 0.2s;
}
.hoverOnDownAnimation {
  animation-name: hoverOnDownAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOnDownAnimation {
  from {
    bottom: 0.75rem;
  }
  to {
    bottom: 0px;
  }
}
.hoverOutDownAnimation {
  animation-name: hoverOutDownAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOutDownAnimation {
  from {
    bottom: 0px;
  }
  to {
    bottom: 0.75rem;
  }
}
.hoverOnUpAnimation {
  animation-name: hoverOnUpAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOnUpAnimation {
  from {
    top: 0vmin;
  }
  to {
    top: 0.75rem;
  }
}
.hoverOutUpAnimation {
  animation-name: hoverOutUpAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOutUpAnimation {
  from {
    top: 0.75rem;
  }
  to {
    top: 0px;
  }
}
header {
  display: block;
  padding: 50px;
  text-align: center;
  background-color: hsl(210, 100%, 91%);
}
#linksRow button {
  position: relative;
  cursor: pointer;
  border: none;
  color: hsl(210, 100%, 24%);
  background-color: hsl(210, 100%, 91%);
  width: 33.3333%;
  animation-name: hoverOutDownAnimation;
  animation-duration: 0.2s;
  bottom: 0.75rem;
  padding: 16px;
}
#linksRow .activePage {
  pointer-events: none;
  background-color: hsl(210, 50%, 30%);
  color: hsl(210, 50%, 85%);
  bottom: 0vmin;
}
#linksRow .activePage #TxtBase {
  cursor: default;
  color: hsl(210, 50%, 85%);
  font-weight: bold;
}
#linksRow button:hover,
#linksRow button:focus {
  position: relative;
  cursor: pointer;
  border: none;
  color: hsl(210, 100%, 24%);
  background-color: hsl(210, 75%, 71%);
  width: 33.3333%;
  animation-name: hoverOnDownAnimation;
  animation-duration: 0.2s;
  bottom: 0px;
}
