.centerAlignment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contents_threeFourthWidth,
.contents_halfWidth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  background-color: hsl(210, 100%, 91%);
}
@media (min-width: 500px) and (max-width: 1500px) {
  .contents_threeFourthWidth {
    width: 75%;
  }
  .contents_halfWidth {
    width: 50%;
  }
}
@media (min-width: 1500px) {
  .contents_threeFourthWidth {
    width: 1125px;
  }
  .contents_halfWidth {
    width: 750px;
  }
}
