#split {
  overflow: hidden;
}
#splitBy2,
#splitBy3,
#splitBy4 {
  float: left;
  position: relative;
  /*Both margin & padding affects the values of width & left*/
  margin: 0.5%;
  padding: 0.5%;
  background-color: hsl(210, 100%, 95%);
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  #splitBy2,
  #splitBy3,
  #splitBy4 {
    font-size: 12px;
  }
}
#splitBy2:hover,
#splitBy3:hover,
#splitBy4:hover {
  font-weight: bold;
  background-color: hsl(210, 50%, 75%);
  border-color: hsl(210, 50%, 75%);
}
/*
width: calc(40% - margin-left - margin-right - padding-left - padding-right);
left: calc(10% + (0.5% * 2);
*/
#splitBy2 {
  width: 38%;
  left: 11%;
}
#splitBy3 {
  width: 23%;
  left: 14%;
}
#splitBy4 {
  width: 18%;
  left: 12%;
}
