.settings {
  position: relative;
  cursor: pointer;
  border: none;
}
.threeColNavBar {
  width: 33.33%;
}
.lightThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #2e79ba;
  color: #081f37;
}
.darkThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #081f37;
  color: #5fc9f3;
}
.hoveredThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5fc9f3;
  color: #081f37;
}
.fourColNavBar {
  width: 25%;
}
.lightFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #2e79ba;
  color: #081f37;
}
.darkFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #081f37;
  color: #5fc9f3;
}
.hoveredFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5fc9f3;
  color: #081f37;
}
.animationDuration {
  animation-duration: 0.2s;
}
.hoverOnDownAnimation {
  animation-name: hoverOnDownAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOnDownAnimation {
  from {
    bottom: 12px;
  }
  to {
    bottom: 0px;
  }
}
.hoverOutDownAnimation {
  animation-name: hoverOutDownAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOutDownAnimation {
  from {
    bottom: 0px;
  }
  to {
    bottom: 12px;
  }
}
.hoverOnUpAnimation {
  animation-name: hoverOnUpAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOnUpAnimation {
  from {
    top: 0vmin;
  }
  to {
    top: 12px;
  }
}
.hoverOutUpAnimation {
  animation-name: hoverOutUpAnimation;
  animation-duration: 0.2s;
}
@keyframes hoverOutUpAnimation {
  from {
    top: 12px;
  }
  to {
    top: 0px;
  }
}
#tabs {
  overflow: hidden;
}
@media (max-width: 500px) {
  #tabs {
    width: 400px;
  }
}
.link {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #081f37;
  color: #5fc9f3;
  animation-name: hoverOutUpAnimation;
  animation-duration: 0.2s;
}
.link:hover:not(.active) {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5fc9f3;
  color: #081f37;
  animation-name: hoverOnUpAnimation;
  animation-duration: 0.2s;
  top: 12px;
  font-weight: bold;
}
.active {
  cursor: default;
  background-color: #2e79ba;
  top: 12px;
  font-weight: bold;
}
