#tabs {
  overflow: hidden;
}
.link {
  float: left;
  width: 25%;
  background-color: #081f37;
  color: #5fc9f3;
  border-style: none;
  cursor: pointer;
  position: relative;
  top: 0vmin;
  animation-name: linkNotHoveredAnimation;
  animation-duration: 0.2s;
}
.link:hover:not(.active) {
  font-weight: bold;
  background-color: #5fc9f3;
  color: #081f37;
  position: relative;
  top: 1vmin;
  animation-name: linkHoveredAnimation;
  animation-duration: 0.2s;
}
.active {
  font-weight: bold;
  background-color: #2e79ba;
  position: relative;
  top: 1vmin;
  cursor: default;
}
@keyframes linkHoveredAnimation {
  from {
    top: 0vmin;
  }
  to {
    top: 1vmin;
  }
}
@keyframes linkNotHoveredAnimation {
  from {
    top: 1vmin;
  }
  to {
    top: 0vmin;
  }
}
