header {
  background-color: #081f37;
  color: white;
  display: block;
  padding: 5vh;
  text-align: center;
}
#linksRow button {
  background-color: #2e79ba;
  color: #081f37;
  border: none;
  cursor: pointer;
  padding: 16px;
  width: 33.33%;
}
#linksRow :hover,
#linksRow :focus {
  background-color: #5fc9f3;
}
