.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #081f37;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linkText {
  display: block;
  padding: 0.5vh;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  font-size: 3vh;
  color: #2e79ba;
}
.linkText :hover,
.linkText :focus {
  color: #5fc9f3;
}
#closeText :hover,
#closeText :focus {
  color: red;
}
#slideButton {
  cursor: pointer;
  font-size: 2vh;
  color: #2e79ba;
  border: none;
  border-radius: 50px;
  background-color: #081f37;
  animation-name: animate-button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#slideButton :hover,
#slideButton :focus {
  color: #5fc9f3;
}
@keyframes animate-button {
  0% {
    padding: 1vw 2vw;
  }
  50% {
    padding: 1vw 4vw;
  }
  100% {
    padding: 1vw 2vw;
  }
}
