@import 'tailwindcss';

@source "../src";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-slidingButton: slidingButton 4s infinite;
  --animate-slideOverlay_Open: slideOverlay_Open 1s;
  --animate-slideOverlay_Close: slideOverlay_Close 1s;
  --animate-mainPageNavBar_OnHoverEnter: mainPageNavBar_OnHoverEnter 0.1s ease-in-out;
  --animate-mainPageNavBar_OnHoverExit: mainPageNavBar_OnHoverExit 0.1s ease-in-out;
  --animate-homePageNavBar_OnHoverEnter: homePageNavBar_OnHoverEnter 0.1s ease-in-out;
  --animate-homePageNavBar_OnHoverExit: homePageNavBar_OnHoverExit 0.1s ease-in-out;

  --color-primary-light-s1l1: hsl(var(--hue), var(--sat1), var(--light_1));
  --color-primary-light-s1l2: hsl(var(--hue), var(--sat1), var(--light_2));
  --color-primary-light-s1l3: hsl(var(--hue), var(--sat1), var(--light_3));
  --color-primary-light-s1l4: hsl(var(--hue), var(--sat1), var(--light_4));
  --color-primary-light-s1l5: hsl(var(--hue), var(--sat1), var(--light_5));
  --color-primary-light-s1l6: hsl(var(--hue), var(--sat1), var(--light_6));
  --color-primary-light-s2l1: hsl(var(--hue), var(--sat2), var(--light_1));
  --color-primary-light-s2l2: hsl(var(--hue), var(--sat2), var(--light_2));
  --color-primary-light-s2l3: hsl(var(--hue), var(--sat2), var(--light_3));
  --color-primary-light-s2l4: hsl(var(--hue), var(--sat2), var(--light_4));
  --color-primary-light-s2l5: hsl(var(--hue), var(--sat2), var(--light_5));
  --color-primary-light-s2l6: hsl(var(--hue), var(--sat2), var(--light_6));
  --color-primary-light-s3l1: hsl(var(--hue), var(--sat3), var(--light_1));
  --color-primary-light-s3l2: hsl(var(--hue), var(--sat3), var(--light_2));
  --color-primary-light-s3l3: hsl(var(--hue), var(--sat3), var(--light_3));
  --color-primary-light-s3l4: hsl(var(--hue), var(--sat3), var(--light_4));
  --color-primary-light-s3l5: hsl(var(--hue), var(--sat3), var(--light_5));
  --color-primary-light-s3l6: hsl(var(--hue), var(--sat3), var(--light_6));

  --color-primary-lightHighlight-s1l1: hsl(var(--hue), var(--sat1), var(--lightHighlight_1));
  --color-primary-lightHighlight-s1l2: hsl(var(--hue), var(--sat1), var(--lightHighlight_2));
  --color-primary-lightHighlight-s1l3: hsl(var(--hue), var(--sat1), var(--lightHighlight_3));
  --color-primary-lightHighlight-s1l4: hsl(var(--hue), var(--sat1), var(--lightHighlight_4));
  --color-primary-lightHighlight-s1l5: hsl(var(--hue), var(--sat1), var(--lightHighlight_5));
  --color-primary-lightHighlight-s1l6: hsl(var(--hue), var(--sat1), var(--lightHighlight_6));
  --color-primary-lightHighlight-s2l1: hsl(var(--hue), var(--sat2), var(--lightHighlight_1));
  --color-primary-lightHighlight-s2l2: hsl(var(--hue), var(--sat2), var(--lightHighlight_2));
  --color-primary-lightHighlight-s2l3: hsl(var(--hue), var(--sat2), var(--lightHighlight_3));
  --color-primary-lightHighlight-s2l4: hsl(var(--hue), var(--sat2), var(--lightHighlight_4));
  --color-primary-lightHighlight-s2l5: hsl(var(--hue), var(--sat2), var(--lightHighlight_5));
  --color-primary-lightHighlight-s2l6: hsl(var(--hue), var(--sat2), var(--lightHighlight_6));
  --color-primary-lightHighlight-s3l1: hsl(var(--hue), var(--sat3), var(--lightHighlight_1));
  --color-primary-lightHighlight-s3l2: hsl(var(--hue), var(--sat3), var(--lightHighlight_2));
  --color-primary-lightHighlight-s3l3: hsl(var(--hue), var(--sat3), var(--lightHighlight_3));
  --color-primary-lightHighlight-s3l4: hsl(var(--hue), var(--sat3), var(--lightHighlight_4));
  --color-primary-lightHighlight-s3l5: hsl(var(--hue), var(--sat3), var(--lightHighlight_5));
  --color-primary-lightHighlight-s3l6: hsl(var(--hue), var(--sat3), var(--lightHighlight_6));

  --color-primary-dark-s1l1: hsl(var(--hue), var(--sat1), var(--dark_1));
  --color-primary-dark-s1l2: hsl(var(--hue), var(--sat1), var(--dark_2));
  --color-primary-dark-s1l3: hsl(var(--hue), var(--sat1), var(--dark_3));
  --color-primary-dark-s1l4: hsl(var(--hue), var(--sat1), var(--dark_4));
  --color-primary-dark-s1l5: hsl(var(--hue), var(--sat1), var(--dark_5));
  --color-primary-dark-s1l6: hsl(var(--hue), var(--sat1), var(--dark_6));
  --color-primary-dark-s2l1: hsl(var(--hue), var(--sat2), var(--dark_1));
  --color-primary-dark-s2l2: hsl(var(--hue), var(--sat2), var(--dark_2));
  --color-primary-dark-s2l3: hsl(var(--hue), var(--sat2), var(--dark_3));
  --color-primary-dark-s2l4: hsl(var(--hue), var(--sat2), var(--dark_4));
  --color-primary-dark-s2l5: hsl(var(--hue), var(--sat2), var(--dark_5));
  --color-primary-dark-s2l6: hsl(var(--hue), var(--sat2), var(--dark_6));
  --color-primary-dark-s3l1: hsl(var(--hue), var(--sat3), var(--dark_1));
  --color-primary-dark-s3l2: hsl(var(--hue), var(--sat3), var(--dark_2));
  --color-primary-dark-s3l3: hsl(var(--hue), var(--sat3), var(--dark_3));
  --color-primary-dark-s3l4: hsl(var(--hue), var(--sat3), var(--dark_4));
  --color-primary-dark-s3l5: hsl(var(--hue), var(--sat3), var(--dark_5));
  --color-primary-dark-s3l6: hsl(var(--hue), var(--sat3), var(--dark_6));

  --color-primary-darkHighlight-s1l1: hsl(var(--hue), var(--sat1), var(--darkHighlight_1));
  --color-primary-darkHighlight-s1l2: hsl(var(--hue), var(--sat1), var(--darkHighlight_2));
  --color-primary-darkHighlight-s1l3: hsl(var(--hue), var(--sat1), var(--darkHighlight_3));
  --color-primary-darkHighlight-s1l4: hsl(var(--hue), var(--sat1), var(--darkHighlight_4));
  --color-primary-darkHighlight-s1l5: hsl(var(--hue), var(--sat1), var(--darkHighlight_5));
  --color-primary-darkHighlight-s1l6: hsl(var(--hue), var(--sat1), var(--darkHighlight_6));
  --color-primary-darkHighlight-s2l1: hsl(var(--hue), var(--sat2), var(--darkHighlight_1));
  --color-primary-darkHighlight-s2l2: hsl(var(--hue), var(--sat2), var(--darkHighlight_2));
  --color-primary-darkHighlight-s2l3: hsl(var(--hue), var(--sat2), var(--darkHighlight_3));
  --color-primary-darkHighlight-s2l4: hsl(var(--hue), var(--sat2), var(--darkHighlight_4));
  --color-primary-darkHighlight-s2l5: hsl(var(--hue), var(--sat2), var(--darkHighlight_5));
  --color-primary-darkHighlight-s2l6: hsl(var(--hue), var(--sat2), var(--darkHighlight_6));
  --color-primary-darkHighlight-s3l1: hsl(var(--hue), var(--sat3), var(--darkHighlight_1));
  --color-primary-darkHighlight-s3l2: hsl(var(--hue), var(--sat3), var(--darkHighlight_2));
  --color-primary-darkHighlight-s3l3: hsl(var(--hue), var(--sat3), var(--darkHighlight_3));
  --color-primary-darkHighlight-s3l4: hsl(var(--hue), var(--sat3), var(--darkHighlight_4));
  --color-primary-darkHighlight-s3l5: hsl(var(--hue), var(--sat3), var(--darkHighlight_5));
  --color-primary-darkHighlight-s3l6: hsl(var(--hue), var(--sat3), var(--darkHighlight_6));

  @keyframes slidingButton {
    0%,
    100% {
      padding: 15px 30px;
    }

    50% {
      padding: 15px 60px;
    }
  }

  @keyframes slideOverlay_Open {
    from {
      width: 0px;
      opacity: 0;
    }

    to {
      width: 100vw;
      opacity: 1;
    }
  }

  @keyframes slideOverlay_Close {
    from {
      width: 100vw;
      opacity: 1;
    }

    to {
      width: 0px;
      opacity: 0;
    }
  }

  @keyframes mainPageNavBar_OnHoverEnter {
    from {
      height: 40px;
    }

    to {
      height: 48px;
    }
  }

  @keyframes mainPageNavBar_OnHoverExit {
    from {
      height: 48px;
    }

    to {
      height: 40px;
    }
  }

  @keyframes homePageNavBar_OnHoverEnter {
    from {
      height: 48px;
      top: 0px;
    }

    to {
      height: 40px;
      top: 8px;
    }
  }

  @keyframes homePageNavBar_OnHoverExit {
    from {
      height: 40px;
      top: 8px;
    }

    to {
      height: 48px;
      top: 0px;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --hue: 210;

  --sat1: 100%;
  --sat2: 75%;
  --sat3: 50%;

  --firstInc: 2%;
  --secondInc: 4%;
  --thirdInc: 6%;
  --forthInc: 8%;
  --fifthInc: 10%;

  --light_1: 95%;
  --light_2: calc(var(--light_1) - var(--firstInc));
  --light_3: calc(var(--light_1) - var(--secondInc));
  --light_4: calc(var(--light_1) - var(--thirdInc));
  --light_5: calc(var(--light_1) - var(--forthInc));
  --light_6: calc(var(--light_1) - var(--fifthInc));

  --lightHighlight_1: 75%;
  --lightHighlight_2: calc(var(--lightHighlight_1) - var(--firstInc));
  --lightHighlight_3: calc(var(--lightHighlight_1) - var(--secondInc));
  --lightHighlight_4: calc(var(--lightHighlight_1) - var(--thirdInc));
  --lightHighlight_5: calc(var(--lightHighlight_1) - var(--forthInc));
  --lightHighlight_6: calc(var(--lightHighlight_1) - var(--fifthInc));

  --dark_1: 10%;
  --dark_2: calc(var(--dark_1) - var(--firstInc));
  --dark_3: calc(var(--dark_1) - var(--secondInc));
  --dark_4: calc(var(--dark_1) - var(--thirdInc));
  --dark_5: calc(var(--dark_1) - var(--forthInc));
  --dark_6: calc(var(--dark_1) - var(--fifthInc));

  --darkHighlight_1: 20%;
  --darkHighlight_2: calc(var(--darkHighlight_1) - var(--firstInc));
  --darkHighlight_3: calc(var(--darkHighlight_1) - var(--secondInc));
  --darkHighlight_4: calc(var(--darkHighlight_1) - var(--thirdInc));
  --darkHighlight_5: calc(var(--darkHighlight_1) - var(--forthInc));
  --darkHighlight_6: calc(var(--darkHighlight_1) - var(--fifthInc));

  z-index: -10;
}

:root {
  --particle-links: hsl(var(--hue), var(--sat1), var(--dark_1));
}

.dark {
  --particle-links: hsl(var(--hue), var(--sat1), var(--light_1));
}