@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue: 210;

  --sat1: 100%;
  --sat2: 75%;
  --sat3: 50%;

  --firstInc: 2%;
  --secondInc: 4%;
  --thirdInc: 6%;
  --forthInc: 8%;
  --fifthInc: 10%;

  --light_1: 95%;
  --light_2: calc(var(--light_1) - var(--firstInc));
  --light_3: calc(var(--light_1) - var(--secondInc));
  --light_4: calc(var(--light_1) - var(--thirdInc));
  --light_5: calc(var(--light_1) - var(--forthInc));
  --light_6: calc(var(--light_1) - var(--fifthInc));

  --lightHighlight_1: 75%;
  --lightHighlight_2: calc(var(--lightHighlight_1) - var(--firstInc));
  --lightHighlight_3: calc(var(--lightHighlight_1) - var(--secondInc));
  --lightHighlight_4: calc(var(--lightHighlight_1) - var(--thirdInc));
  --lightHighlight_5: calc(var(--lightHighlight_1) - var(--forthInc));
  --lightHighlight_6: calc(var(--lightHighlight_1) - var(--fifthInc));
  
  --dark_1: 20%;
  --dark_2: calc(var(--dark_1) + var(--firstInc));
  --dark_3: calc(var(--dark_1) + var(--secondInc));
  --dark_4: calc(var(--dark_1) + var(--thirdInc));
  --dark_5: calc(var(--dark_1) + var(--forthInc));
  --dark_6: calc(var(--dark_1) + var(--fifthInc));

  --darkHighlight_1: 40%;
  --darkHighlight_2: calc(var(--darkHighlight_1) + var(--firstInc));
  --darkHighlight_3: calc(var(--darkHighlight_1) + var(--secondInc));
  --darkHighlight_4: calc(var(--darkHighlight_1) + var(--thirdInc));
  --darkHighlight_5: calc(var(--darkHighlight_1) + var(--forthInc));
  --darkHighlight_6: calc(var(--darkHighlight_1) + var(--fifthInc));
}
