.centerAlignment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.roundProfileImage {
  height: 200px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px;
  border-radius: 100%;
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: portrait) {
  .roundProfileImage {
    height: 40vw;
  }
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: landscape) {
  .roundProfileImage {
    height: 40vh;
  }
}
.hoverOnDownAnimation,
.hoverOutDownAnimation,
.hoverOnUpAnimation,
.hoverOutUpAnimation {
  animation-duration: 0.2s;
}
.hoverOnDownAnimation {
  animation-name: hoverOnDownAnimation;
}
.hoverOutDownAnimation {
  animation-name: hoverOutDownAnimation;
}
.hoverOnUpAnimation {
  animation-name: hoverOnUpAnimation;
}
.hoverOutUpAnimation {
  animation-name: hoverOutUpAnimation;
}
.threeColNavBar,
.fourColNavBar,
.hoveredThreeColNavBar,
.hoveredFourColNavBar {
  position: relative;
  cursor: pointer;
  border: none;
}
.threeColNavBar,
.hoveredThreeColNavBar {
  position: relative;
  cursor: pointer;
  border: none;
  width: 33.3333%;
  background-color: hsl(210, 100%, 91%);
  color: hsl(210, 100%, 24%);
}
.fourColNavBar,
.hoveredFourColNavBar {
  position: relative;
  cursor: pointer;
  border: none;
  width: 25%;
  background-color: hsl(210, 100%, 91%);
  color: hsl(210, 100%, 24%);
}
.threeColNavBar {
  width: 33.3333%;
}
.fourColNavBar {
  width: 25%;
}
.homePageNavBarLink {
  position: relative;
  cursor: pointer;
  border: none;
  width: 25%;
  background-color: hsl(210, 100%, 91%);
  color: hsl(210, 100%, 24%);
  animation-duration: 0.2s;
  animation-name: hoverOutUpAnimation;
}
.homePageNavBarActiveLink {
  top: 0.75rem;
}
.homePageNavBarActiveLink #txtBase {
  cursor: default;
}
header {
  display: block;
  padding: 50px;
  text-align: center;
}
#mainNavBarLinksRow button {
  position: relative;
  cursor: pointer;
  border: none;
  width: 33.3333%;
  background-color: hsl(210, 100%, 91%);
  color: hsl(210, 100%, 24%);
  animation-duration: 0.2s;
  animation-name: hoverOutDownAnimation;
  bottom: 0.75rem;
  padding: 16px;
}
#mainNavBarLinksRow .mainNavBarPageIsActive {
  pointer-events: none;
  bottom: 0vmin;
}
#mainNavBarLinksRow .mainNavBarPageIsActive #txtBase {
  cursor: default;
}
.threeFourthsWidthPanel,
.halfWidthPanel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
#slidePanelOverlay {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.txtPageLink {
  display: block;
  padding: 4px;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
}
.btnSlidingToggle {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  animation-name: animate-button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#skillsRow {
  overflow: hidden;
}
#skillsSplitBy2,
#skillsSplitBy3,
#skillsSplitBy4 {
  float: left;
  position: relative;
  /*Both margin & padding affects the values of width & left*/
  margin: 0.5%;
  padding: 0.5%;
  box-sizing: border-box;
  border-radius: 20px;
}
/*
width: calc(40% - margin-left - margin-right - padding-left - padding-right);
left: calc(10% + (0.5% * 2);
*/
#skillsSplitBy2 {
  width: 38%;
  left: 11%;
}
#skillsSplitBy3 {
  width: 23%;
  left: 14%;
}
#skillsSplitBy4 {
  width: 18%;
  left: 12%;
}
body,
#skillsSplitBy2,
#skillsSplitBy3,
#skillsSplitBy4 {
  background-color: hsl(210, 100%, 95%);
}
#slidePanelOverlay {
  background-color: hsl(210, 100%, 93%);
}
header,
.threeFourthsWidthPanel,
.halfWidthPanel,
.threeColNavBar,
.fourColNavBar {
  background-color: hsl(210, 100%, 91%);
}
.hoveredThreeColNavBar,
.hoveredFourColNavBar {
  background-color: hsl(210, 75%, 71%);
}
.btnSlidingToggle {
  background-color: hsl(210, 100%, 20%);
}
.homePageNavBarActiveLink {
  background-color: hsl(210, 50%, 30%);
}
#mainNavBarLinksRow .mainNavBarPageIsActive {
  background-color: hsl(210, 50%, 30%);
}
hr,
.roundProfileImage {
  border-color: hsl(210, 100%, 20%);
}
.homePageNavBarActiveLink #txtBase {
  color: hsl(210, 50%, 85%);
}
#mainNavBarLinksRow .mainNavBarPageIsActive,
#mainNavBarLinksRow .mainNavBarPageIsActive #txtBase {
  color: hsl(210, 50%, 85%);
}
.txtPageLink,
#txtHeaderXL,
#txtHeader {
  color: hsl(210, 100%, 20%);
}
.threeColNavBar,
.fourColNavBar,
.hoveredThreeColNavBar,
.hoveredFourColNavBar {
  color: hsl(210, 100%, 24%);
}
#txtBase,
#txtBaseS {
  color: hsl(210, 50%, 30%);
}
u,
#txtSubHeader,
#txtBaseXL {
  color: hsl(210, 100%, 40%);
}
.txtPageLink :hover,
.txtPageLink :focus {
  color: hsl(210, 100%, 40%);
}
.txtCloseLink :hover,
.txtCloseLink :focus {
  color: red;
}
#skillsSplitBy2:hover,
#skillsSplitBy3:hover,
#skillsSplitBy4:hover {
  background-color: hsl(210, 50%, 75%);
  border-color: hsl(210, 50%, 75%);
}
.btnSlidingToggle :hover,
.btnSlidingToggle :focus {
  color: hsl(210, 100%, 75%);
}
#txtHeaderXL {
  font-size: 2.5rem;
}
#txtHeader {
  font-size: 2rem;
}
#txtSubHeader {
  font-size: 1.5rem;
}
#txtBaseXL {
  font-size: 1.25rem;
}
#txtBase {
  font-size: 1rem;
}
#txtBaseS {
  font-size: 0.75rem;
}
.btnSlidingToggle {
  font-size: 16px;
}
.txtPageLink {
  font-size: 3vh;
}
.homePageNavBarActiveLink #txtBase,
#skillsSplitBy2,
#skillsSplitBy3,
#skillsSplitBy4,
#txtHeaderXL,
#txtHeader,
#txtSubHeader,
#txtBaseXL {
  font-weight: bold;
}
#mainNavBarLinksRow .mainNavBarPageIsActive #txtBase {
  font-weight: bold;
}
.homePageNavBarLink:hover:not(.homePageNavBarActiveLink) {
  font-weight: bold;
}
#skillsSplitBy2:hover,
#skillsSplitBy3:hover,
#skillsSplitBy4:hover {
  font-weight: bold;
}
.homePageNavBarLink:hover:not(.homePageNavBarActiveLink) {
  position: relative;
  cursor: pointer;
  border: none;
  width: 25%;
  background-color: hsl(210, 100%, 91%);
  background-color: hsl(210, 75%, 71%);
  color: hsl(210, 100%, 24%);
  animation-duration: 0.2s;
  animation-name: hoverOnUpAnimation;
  top: 0.75rem;
}
#mainNavBarLinksRow button:hover,
#mainNavBarLinksRow button:focus {
  position: relative;
  cursor: pointer;
  border: none;
  width: 33.3333%;
  background-color: hsl(210, 100%, 91%);
  background-color: hsl(210, 75%, 71%);
  color: hsl(210, 100%, 24%);
  animation-duration: 0.2s;
  animation-name: hoverOnDownAnimation;
  bottom: 0px;
}
@media (max-height: 300px) {
  .txtPageLink,
  .txtCloseLink {
    padding: 0px;
    font-size: 16px;
  }
}
@media (min-height: 300px) and (max-height: 500px) {
  .txtPageLink,
  .txtCloseLink {
    padding: 0px;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  #homePageNavBar {
    width: 400px;
  }
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: portrait) {
  .roundProfileImageResponsive {
    height: 40vw;
  }
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: landscape) {
  .roundProfileImageResponsive {
    height: 40vh;
  }
}
@media (min-width: 500px) and (max-width: 1500px) {
  .halfWidthPanel {
    width: 50%;
  }
  .threeFourthsWidthPanel,
  #homePageNavBar {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  #skillsSplitBy2,
  #skillsSplitBy3,
  #skillsSplitBy4 {
    font-size: 12px;
  }
}
@media (min-width: 1500px) {
  .halfWidthPanel {
    width: 750px;
  }
  .threeFourthsWidthPanel,
  #homePageNavBar {
    width: 1125px;
  }
}
@keyframes animate-button {
  0% {
    padding: 15px 30px;
  }
  50% {
    padding: 15px 60px;
  }
  100% {
    padding: 15px 30px;
  }
}
@keyframes hoverOnDownAnimation {
  from {
    bottom: 0.75rem;
  }
  to {
    bottom: 0px;
  }
}
@keyframes hoverOutDownAnimation {
  from {
    bottom: 0px;
  }
  to {
    bottom: 0.75rem;
  }
}
@keyframes hoverOnUpAnimation {
  from {
    top: 0vmin;
  }
  to {
    top: 0.75rem;
  }
}
@keyframes hoverOutUpAnimation {
  from {
    top: 0.75rem;
  }
  to {
    top: 0px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
hr {
  width: 75%;
}
.pgLanding {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgProfileRound {
  height: 200px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px;
  border-radius: 100%;
  border-color: hsl(210, 100%, 20%);
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: portrait) {
  .imgProfileRound {
    height: 40vw;
  }
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: landscape) {
  .imgProfileRound {
    height: 40vh;
  }
}
.imgLogoSmall {
  width: 32px;
}
.imgLogoBig {
  width: 64px;
}
#halfWidthContentSection,
#homePageNavBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#halfWidthContentSection {
  width: 50%;
}
