body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e549f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
p {
  font-size: 1.5vmin;
}
h1 {
  color: #5fc9f3;
  font-size: 3.5vmin;
}
h2 {
  color: #2e79ba;
  font-size: 2.5vmin;
}
h3 {
  color: #2e79ba;
  font-size: 1.75vmin;
}
