.settings {
  position: relative;
  cursor: pointer;
  border: none;
}
.threeColNavBar {
  width: 33.33%;
}
.lightThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #2e79ba;
  color: #081f37;
}
.darkThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #081f37;
  color: #5fc9f3;
}
.hoveredThreeColNavBar {
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5fc9f3;
  color: #081f37;
}
.fourColNavBar {
  width: 25%;
}
.lightFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #2e79ba;
  color: #081f37;
}
.darkFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #081f37;
  color: #5fc9f3;
}
.hoveredFourColNavBar {
  width: 25%;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5fc9f3;
  color: #081f37;
}
